body {
  min-width: 372px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main_area {
  margin-top: 50px;
}

.wrapper {
  min-height: 100vh;
}

.span-required {
  font-size: 14px;
  font-style: italic;
  margin: 3px 0 0 1px;
  color: red;
  display: none;
}

table, th, td {
  border: 1px solid black;
}

p.truncar-3l {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

h5.truncar-1l {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 469px) {
  .mt-xs-3 {
      margin-top: 1rem;
  }
}



label:hover .text-dark {
  transition: color 0.2s ease;
  color: white !important;
}

label .text-dark {
  transition: color 0.2s ease;
}

/* complementado para compatibilizar com Bootstrap >5.3.x mantendo o mesmo efeito de hover */
.btn-check:checked+.btn-outline-danger h3,
.btn-check:active+.btn-outline-danger h3,
.btn-check:hover+.btn-outline-danger h3,
.btn-check:checked+.btn-outline-danger hr,
.btn-check:active+.btn-outline-danger hr,
.btn-check:hover+.btn-outline-danger hr,
.btn-check:checked+.btn-outline-danger h4,
.btn-check:active+.btn-outline-danger h4,
.btn-check:hover+.btn-outline-danger h4,
.btn-check:checked+.btn-outline-danger p,
.btn-check:active+.btn-outline-danger p,
.btn-check:hover+.btn-outline-danger p,
.btn-check:checked+.btn-outline-danger .text-dark,
.btn-check:active+.btn-outline-danger .text-dark,
.btn-check:hover+.btn-outline-danger .text-dark {
  transition: color 0.2s ease;
  color: white !important;
}

/* adicionado para compatibilizar com Bootstrap >5.3.x mantendo o mesmo efeito de hover */
.btn-check:checked+.btn-outline-danger,
.btn-check:active+.btn-outline-danger,
.btn-check:hover+.btn-outline-danger {
  transition: background-color 0.2s ease;
  background-color: var(--bs-danger) !important;
}

.iconMargin {
  font-size:24px; line-height:24px
}

.btn-glow {
  box-shadow: -8px 7px 10px 3px rgba(255,18,0,1),
  0 0 20px 5px rgba(245,134,49,0.8),
  0 0 30px 15px rgba(238,0,255,0.5);
}

.flex-even {
  flex: 1;
  min-width: 300px;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #dc3545;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

fieldset.row .form-floating>label {
  margin-left: calc(var(--bs-gutter-x) * 0.5);
}

/* adicionado para deixar links de paginação em vermelho */
.page-link {
  color: var(--bs-danger);
}

ul {
    cursor: pointer;
    overflow: hidden; /* remove o estouro do elemento */
    text-overflow: ellipsis; /* adiciona “...” no final */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* quantidade de linhas */
    -webkit-box-orient: vertical; /* conteúdo será apresentado verticalmente */
}

.search-container {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.input-search {
  width: 220px;
}

.search-inner {
  display: flex;
}

.card-flutuante {
  height: 500px;
  width: 700px;
  position: fixed;
  z-index: 1000;
  left: 2rem;
  top: 2rem;
  background-color: rgb(154, 215, 161);
}

.centralizar {
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
  align-items: center;
}