@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");


body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1a10a0 !important;
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 40px;
  border-radius: 50%;
  text-align:justify;
}
img, l {
  display: inline-block;
  color: rgb(255, 183, 183);
}

h1,
h2,
h4,
h5,
h6,
label,
span {
  color: #ffffff;
  font-weight: 500;
  font-family: "Lucida Console", "Courier New", monospace;
}

h3{
  color: #ffffff;
  text-decoration:solid;
  text-decoration:underline;
  letter-spacing: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight:bold
}

body,
html,
.App,
#root,
.auth-wrapper {
  margin-top: 1%;
  width: 100%;
  height: 95%;
}

.navbar-light {
  background-color: rgb(248, 5, 5);
  box-shadow: 0px 14px 80px rgba(0, 217, 255, 0.842);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 60%;
  margin: auto;
  background: rgb(253, 25, 25);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  box-shadow: 0px 0px 20px 10px #e048d3;
  animation: shadows 3s infinite;
  opacity: 1;
}
@keyframes shadows {
  0% {
    text-shadow: #f58181b0 0 0 10px;
    box-shadow: 0px 0px 20px 10px #f58181b0;
  }
  20% {
    text-shadow: rgb(250, 41, 198) 0 0 10px;
    box-shadow: 0px 0px 20px 10px rgba(250, 4, 209, 0.836);
  }
  40% {
      text-shadow: rgb(240, 4, 248) 0 0 10px;
      box-shadow: 0px 0px 20px 10px rebeccapuprle;
    }
  60% {
    text-shadow: rgba(253, 250, 69, 0.89) 0 0 10px;
    box-shadow: 0px 0px 20px 10px rebeccapuprle;
  }
  70% {
      text-shadow: #e0d148b4 0 0 10px;
      box-shadow: 0px 0px 20px 10px #e0d148b4;
    }
    90% {
      text-shadow: rgba(253, 250, 69, 0.863) 0 0 10px;
      box-shadow: 0px 0px 20px 10px rebeccapuprle;
    }
  100% {
    text-shadow: #f58181b0 0 0 10px;
    box-shadow: 0px 0px 20px 10px #f58181b0;
  }
}


.auth-wrapper .form-control:focus {
    box-shadow: none;
    border-color: #0805ac;
    margin-top: 30px;
    margin-bottom: 40px;
}


/* FOrmularios*/
form {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 14px;
}

label, input {
  margin-left: 20px;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
}

label {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

input {
  border: 2px #323232 ;
  padding: 10px;
  margin-bottom: 20px ;
  box-shadow: 2px 2px 2px black;
}

input:focus {
  border-bottom: #cf08ae;

}

#esqueceu  {

  margin-bottom: 10px;
  margin-left: 60%;
 
  
}



input[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: #fff;
  background-color: #f55235;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  transition: .5s ;
  
}


input[type="submit"]:hover {
  background-color: #011420;
  transition: .5s;
  box-shadow: 0 0 5px #011420,
  0 0 25px #011420,
  0 0 50px #011420,
  0 0 100px #011420;

}

input#email , input#password, input#fname, input#lname {
  border-radius: 10px;
  font-size: 14px;
  font-family: "Lucida Console", "Courier New", monospace;
}
/* COntaniner Button */
button#btn {
  position: relative;
  display: inline-block;
  padding: 10px 80px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  border: none;
  margin-bottom: 20px;
  margin-top: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #ff002b;

  box-shadow: 3px 3px 3px rgb(255, 1, 213) ;
}

button#btn:hover {
  background: #fff;
  color: #08558b;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(193, 192, 209),
              0 0 25px rgb(110, 109, 150),
              0 0 50px rgb(47, 37, 105),
              0 0 100px rgb(39, 3, 167);

}

button#btn span {
  position: absolute;
  display: block;
}

button#btn span:nth-child(1) {
  top: 0;
  left: -70%;
  width: 70%;
  height: 3px;
  background: linear-gradient(90deg, transparent,#fff);
  animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
    }
    
    button#btn span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent,#fff);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s ;
        }

         @keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
    }

    button#btn span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 3px;
        background: linear-gradient(270deg, transparent, #fff);
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s ;
        }
        @keyframes btn-anim3 {
          0% {
              right: -100%;
          }
          50%, 100% {
              right: 100%;
          }
          }
      
          button#btn span:nth-child(4) {
              bottom: -100%;
              left: 0;
              width: 3px;
              height: 100%;
              background: linear-gradient(360deg, transparent,#fff);
              animation: btn-anim4 1s linear infinite;
              animation-delay: .75s ;
            }

              @keyframes btn-anim4 {
                0% {
                    bottom: -100%;
                }
                50%, 100% {
                    bottom: 100%;
                }
                }

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}


.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
